<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="browserParameter" value="chrome" />
    <add key="resolutionParameter" value="web" />
    <add key="screenshotDirectory" value="D:\VoloteaSPAscreeshots\" />
    <add key="pageDefaultUrl" value="https://rink.hockeyapp.net/users/sign_in" />
    <add key="loginToAccount" value="msakowicz@pgs-soft.com" />
    <add key="passwordToAccount" value="vtest123!" />

    <add key="ignoredTestsOnProduction" value=""/>
    <!-- Skip these environments for specified category (as feature)
         format desciption:
         ':' to separate category from list of environments
         ',' to separate env (Cat1:env1,env2)
         ';' to separate categories (Cat1:env1;Cat2:env1)
         'All-' skip all env apart from (Cat1:All-env1,env2)
    -->
    <add key="skipCategoryForEnv" value=""/>
  </appSettings>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.12051" newVersion="2.6.0.12051" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>